[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/golang"]
	path = .vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/gocode"]
	path = .vim/bundle/gocode
	url = https://github.com/Blackrush/vim-gocode.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/vim-twig"]
	path = .vim/bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule ".vim/bundle/vim-phpunitqf"]
	path = .vim/bundle/vim-phpunitqf
	url = https://github.com/joonty/vim-phpunitqf.git
[submodule ".vim/bundle/vim-phpunit"]
	path = .vim/bundle/vim-phpunit
	url = https://github.com/pedrogimenez/vim-phpunit.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/pdv"]
	path = .vim/bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule ".vim/bundle/vmustache"]
	path = .vim/bundle/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
